In [1]:
# Importing all required modules
import os
from os import listdir
from os.path import isfile, join
import glob
import csv
import pandas as pd
import calendar

In [2]:
# Creating the path to read the input file
home_path = os.path.expanduser("~")
data_path = home_path+"\\Downloads\\Documents\\Data Analysis Python\\DAUP_2017\\Assignment_PVS\\Assignment 3\\Data"

In [4]:
# Looping through each filename in above path and selecting the required file
for subdir,dirs, files in os.walk(data_path):
    for file in files:
        if file == 'vehicle_collisions.csv':
            data=pd.read_csv(os.path.join(subdir,file))
print(data.head(2))

   UNIQUE KEY    DATE  TIME BOROUGH  ZIP CODE   LATITUDE  LONGITUDE  \
0     3146911  1/1/15  0:20  QUEENS   11358.0  40.751847 -73.787862
1     3146180  1/1/15  0:20     NaN       NaN  40.771289 -73.946693

                    LOCATION ON STREET NAME CROSS STREET NAME  \
0   (40.7518471, -73.787862)      47 AVENUE        193 STREET
1  (40.7712888, -73.9466928)            NaN               NaN

        ...                      VEHICLE 1 TYPE  VEHICLE 2 TYPE  \
0       ...         SPORT UTILITY/STATION WAGON             NaN
1       ...                   PASSENGER VEHICLE             NaN

   VEHICLE 3 TYPE  VEHICLE 4 TYPE  VEHICLE 5 TYPE  \
0             NaN             NaN             NaN
1             NaN             NaN             NaN

              VEHICLE 1 FACTOR  VEHICLE 2 FACTOR  VEHICLE 3 FACTOR  \
0  TRAFFIC CONTROL DISREGARDED               NaN               NaN
1               ANIMALS ACTION               NaN               NaN

   VEHICLE 4 FACTOR VEHICLE 5 FACTOR
0               NaN              NaN
1               NaN              NaN

[2 rows x 29 columns]

In [5]:
# Formatting the date, adding month and year to ease calculation
data["DATE"] = pd.to_datetime(data.DATE)
data["MONTH"] = data.DATE.dt.month
data["MONTH"] = data["MONTH"].apply(lambda x: calendar.month_abbr [x])
data["YEAR"] = data.DATE.dt.year
print(data.head(2))

   UNIQUE KEY       DATE  TIME BOROUGH  ZIP CODE   LATITUDE  LONGITUDE  \
0     3146911 2015-01-01  0:20  QUEENS   11358.0  40.751847 -73.787862
1     3146180 2015-01-01  0:20     NaN       NaN  40.771289 -73.946693

                    LOCATION ON STREET NAME CROSS STREET NAME  ...   \
0   (40.7518471, -73.787862)      47 AVENUE        193 STREET  ...
1  (40.7712888, -73.9466928)            NaN               NaN  ...

  VEHICLE 3 TYPE  VEHICLE 4 TYPE  VEHICLE 5 TYPE             VEHICLE 1 FACTOR  \
0            NaN             NaN             NaN  TRAFFIC CONTROL DISREGARDED
1            NaN             NaN             NaN               ANIMALS ACTION

   VEHICLE 2 FACTOR  VEHICLE 3 FACTOR  VEHICLE 4 FACTOR  VEHICLE 5 FACTOR  \
0               NaN               NaN               NaN               NaN
1               NaN               NaN               NaN               NaN

   MONTH  YEAR
0    Jan  2015
1    Jan  2015

[2 rows x 31 columns]

In [6]:
# Counting monthwise the total accidents in 2016 in Manhattan
data["COUNT"] = 1
Manhattan_DF = pd.DataFrame(data[(data.YEAR == 2016) & (data.BOROUGH == "MANHATTAN")].groupby("MONTH").COUNT.sum().reset_index())
print(Manhattan_DF.head(2))

  MONTH  COUNT
0   Apr   3540
1   Aug   2844

In [8]:
# Counting monthwise the total accidents in New York
NYC_DF = pd.DataFrame(data[(data.YEAR == 2016)].groupby("MONTH").COUNT.sum().reset_index())
print(NYC_DF.head(2))

  MONTH  COUNT
0   Apr  18331
1   Aug  19678

In [9]:
# Merging the above two data based on month
total_DF = pd.merge(Manhattan_DF, NYC_DF , on ='MONTH' , how='inner')
total_DF.columns = ["MONTH","MANHATTAN","NEWYORK"]
print(total_DF.head(2))

  MONTH  MANHATTAN  NEWYORK
0   Apr       3540    18331
1   Aug       2844    19678

In [11]:
# Calculating the accident percentage for each month
total_DF["Percentage"] = (total_DF.MANHATTAN / total_DF.NEWYORK)
print(total_DF.head(2))

  MONTH  MANHATTAN  NEWYORK  Percentage
0   Apr       3540    18331    0.193115
1   Aug       2844    19678    0.144527

In [12]:
# Creating a function to create a csv file to save the above captured data
def save_to_CSV():
    if not os.path.exists(home_path+"\\Downloads\\Documents\\Data Analysis Python\\DAUP_2017\\Assignment_PVS\\Assignment 3\\Output\\Q1_Part_1"):
        os.makedirs(home_path+"\\Downloads\\Documents\\Data Analysis Python\\DAUP_2017\\Assignment_PVS\\Assignment 3\\Output\\Q1_Part_1")
    
    with open(home_path+'\\Downloads\\Documents\\Data Analysis Python\\DAUP_2017\\Assignment_PVS\\Assignment 3\\Output\\Q1_Part_1\\Q1_Part_1.csv', 'w') as myfile:
        myfile.write(total_DF.to_csv(index=False))
        
# Calling the function        
save_to_CSV()